<%= form_with url: sessions_path, local: true do |form| %>
  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </p>

  <p>
    <%= form.label :пароль %>
    <%= form.password_field :password, id: :password %>
  </p>

  <p><%= form.submit 'Ввод' %></p>
<% end %>
