<p>
  <strong>Название:</strong>
  	&#171;<%= @test.title %>&#187;
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Категория:</strong>
  &#171;<%= @test.category.title%>&#187;
</p>

<h3>Вопросы для теста</h3>
<p>
  <%= link_to 'Создать вопрос', new_test_question_path(@test) %>
</p>
<table>
  <tr>
    <th>Вопрос</th>
    <th colspan="4">Действия</th>
  </tr>

 <%= render @test.questions %>
</table>
<p></p>
<%= link_to 'Назад', tests_path %>
